

#titulo {
    background-color: lightblue;
    color: black;
    padding:10px;
    text-align: center;
  }



header{
        height: 300px;
        width: 300px;
        border: 5px solid black;
        padding: 20px;
        margin: auto;
        text-align: left;
}

.portada:hover{
    background: #10c4e4;

}

footer{
    width: 250px;
    border: 10px solid white;
    padding: 15px;
    margin: auto;
    text-align: left;
    
}

.datos-personales {
    list-style: none;
    margin: auto ;
    color: red;
    width: 300px;
    font-weight:bolder ;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    font-family: 'Itim', cursive;
}

.titulo-h2 , .programador { /** con esto solo cambia la class que tenga el nombre de titulo.h2 y si tengo otromas, lo separo por ,*/
    padding: 50px 30px 30px 20px;

    margin: 100px 50px 50px 80px;
   
    border: 10px ridge green;

    text-align: center;

    font-size: 60px;
} 

table{
    border: 1px;
}

article{

    text-align-last: center;
    
  }

h3{
     font-family: 'Montserrat', sans-serif;
     display: flex;
     justify-content: center;
     flex-direction: row;
     border-radius: 16px;
     background: wheat;
  }
  
.titulo-h3 {
    font-size: 25px;
    background-color: #000;
    width: 50vw; /*** vw viewport */
    height: 25vw;
} 
